@import "tailwindcss";

/* Remove password reveal icon in Edge / Chrome */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Remove Chrome autofill & reveal controls */
input[type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}

html,
body {
  background-color: #f6f7f8;
  overscroll-behavior: none;
}


@layer components{
    .link_class{
        @apply text-blue-500 hover:text-blue-800 text-base transition duration-300

    }
}


/*RichTextEditor css */
h1 {
  font-size: 2rem;
  font-weight: 700;
}
h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
h3 {
  font-size: 1.25rem;
  font-weight: 500;
}
h4 {
  font-size: 1rem;
  font-weight: 400;
}
h5 {
  font-size: 0.875rem;
  font-weight: 300;
}
h6 {
  font-size: 0.75rem;
  font-weight: 200;
}
ul {
  list-style-type: disc;
  margin-left: 1.5rem;
}

ul li {
  margin-bottom: 0.5rem;
}
ol {
  list-style-type: decimal;
  margin-left: 1.5rem;
}

ol li {
  margin-bottom: 0.5rem;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: #9ca3af; 
  pointer-events: none;
  height: 0;
  float: left;
}



@layer components{
  .links{
    @apply cursor-pointer hover:text-black/30 transition-all duration-200 text-left flex flex-row items-center
  }
}